* {
  margin: 0px;
  padding: 0px;
  overflow:  hidden;
}

body {
  background-image: url("https://images.pexels.com/photos/1928152/pexels-photo-1928152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 700px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wapper__header {
  background-color: #010D11;
  width: 100%;
  min-height: 100px;
  position: fixed;
  z-index: 3;
  top: 0px;
}

.wapper__bottom {
  color: #FCFAF8;
  top: auto;
  bottom: 0px;
}

.block {
  width: 50px;
  height: 50px;
  /* position: relative; */
  background-color: #F6A189;
  opacity: 1;
  /* Длительность анимации */
  /* animation-duration: 2s; */
  /* Задержка анимации */
  /* animation-delay: 0s; */
  /* Количество циклов анимации */
  /* animation-iteration-count: infinite; */
  /* Имя анимации */
  /* animation-name: blockJump; */
}

.conteiner {
  width: 100px;
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

/* @keyframes blockJump {
  0% {opacity: 1; left: 0px; top: 0px;}
  25% {opacity: 0.75; left: 25px; top: 0px;}
  50% {opacity: 0.50; left: 50px; top: 0px;}
  75% {opacity: 0.25; left: 75px; top: 0px;}
  100% {opacity: 0; left: 100px; top: 0px;}
} */

.div__a {
padding: 10px;
background: linear-gradient(to right, #FAE6DF; 50%, #000D11 50%);
background-size: 200% 100%;
background-position:right bottom;
color: #FAE6DF;
transition:all 2s ease;
}
.div__a:hover {
  background: linear-gradient(to right, #FAE6DF 50%, #000D11 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  color: #000D11;
}

.a {
  text-decoration: none;
  color: #F6A189;
  font-size: 32px;
}

.panel {
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 15px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.inner {
  font-size: 32px;
  width: 100%;
  transition: 1s;
}
